@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap');

p {
    font-family: 'Palanquin';
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal {
    background-color: #D0E7D2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    position: relative;
}
  
.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
  
.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
  
.buttonContainer button {
    margin: 0 10px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #79AC78;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.buttonContainer button p {
    margin-top: 10px;
}

.loader{
	position:absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}